/********************HEADER SECTION***************/
@media screen and (max-width: 1150px) {
    .header__info {
        width: 80%;
    }
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .header__info {
        display: none;
    }
    .header__container {
        justify-content: center;
    }
    .header__logo {
        margin-left: 0;
    }
    .header__caption {
        text-align: center;
        width: 90%;
        margin: 60px auto 0;
    }
    .header__caption .heading {
        font-size: 2rem;
        width: 100%;
    }
    .header__caption .descr {
        width: 100%;
    }
}
@media screen and (min-width: 450px) {
    .header .menu-list .icons {
        height: auto;
        flex-direction: row;
    }
}
/************************************************/

/********************BRAND SECTION***************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .brand__container {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .brand__motto {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }
    .brand .heading {
        font-size: 2rem;
    }
    .brand__description {
        width: 90%;
        text-align: center;
        margin: 20px auto 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .brand__container {
        width: 100%;
    }
}
/************************************************/

/********************GALLERY SECTION*************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .gallery__container {
        grid-template: 1fr / 1fr;
        justify-items: center;
    }
    .gallery__container img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery__container {
        grid-template: 1fr / repeat(2, 1fr);
    }
    .gallery__container img {
        width: 100%;
        height: 100%;
    }
}
/************************************************/

/********************COMPOSITION SECTION*********/
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .composition__heading {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .composition .heading {
        font-size: 2rem;
    }
    .composition__container {
        flex-direction: column;
    }
    .composition .left-par, .composition .right-par {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .composition .right-par {
        margin-top: 40px;
    }
    .composition__btn {
        display: block;
        margin: 0 auto;
    }
}
/************************************************/