/********************HEADER SECTION***************/
@media screen and (max-width: 1150px) {
    .header__info {
        width: 80%;
    }
}
@media screen and (min-width: 320px) and (max-width: 900px) {
    .header__info {
        display: none;
    }
    .header__container {
        justify-content: center;
    }
    .header__logo {
        margin-left: 0;
    }
    .header__caption {
        text-align: center;
        width: 90%;
        margin: 60px auto 0;
    }
    .header__caption .heading {
        font-size: 2rem;
        width: 100%;
    }
    .header__caption .descr {
        width: 100%;
    }
}
@media screen and (min-width: 450px) {
    .header .menu-list .icons {
        height: auto;
        flex-direction: row;
    }
}
/************************************************/

/********************BRAND SECTION***************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .brand__container {
        margin: 0;
        width: 100%;
        flex-direction: column;
    }
    .brand__motto {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }
    .brand .heading {
        font-size: 2rem;
    }
    .brand__description {
        width: 90%;
        text-align: center;
        margin: 20px auto 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .brand__container {
        width: 100%;
    }
}
/************************************************/

/********************GALLERY SECTION*************/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .gallery__container {
        grid-template: 1fr / 1fr;
        justify-items: center;
    }
    .gallery__container img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery__container {
        grid-template: 1fr / repeat(2, 1fr);
    }
    .gallery__container img {
        width: 100%;
        height: 100%;
    }
}
/************************************************/

/********************COMPOSITION SECTION*********/
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .composition__heading {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
    .composition .heading {
        font-size: 2rem;
    }
    .composition__container {
        flex-direction: column;
    }
    .composition .left-par, .composition .right-par {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .composition .right-par {
        margin-top: 40px;
    }
    .composition__btn {
        display: block;
        margin: 0 auto;
    }
}
/************************************************/

/********************CLIENTS SECTION*************/
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .clients__heading {
        margin-left: 0;
        text-align: center;
    }
    .clients .heading {
        width: 90%;
        margin: 0 auto;
        font-size: 2rem;
    }
    .clients .descr {
        width: 90%;
        margin: 10px auto;
    }
    .clients__grid {
        margin: 40px auto 0;
        text-align: center;
        grid-template: 1fr / 1fr;
        justify-items: center;
        grid-gap: 40px;
    }
    .clients__grid p {
        width: 100%;
    }
}
/************************************************/

/********************FEATURES SECTION************/
@media screen and (max-width: 1023px) {
    .features__list {
        width: 90%;
        grid-template: 1fr / 1fr;
    }
    .features .circle {
        width: 70px;
        height: 68px;
    }
    .features .heading {
        font-size: 2rem;
    }
}
/************************************************/

/********************FRANCHISE SECTION***********/
@media screen and (min-width: 320px) and (max-width: 1023px) {
    .franchise__logo {
        text-align: center;
        padding: 10px 0 0 0;
    }
    .franchise__caption {
        margin: 40px auto 0;
        width: 90%;
        text-align: center;
    }
    .franchise .heading {
        font-size: 2rem;
    }
    .franchise__points {
        width: 90%;
        grid-template: 1fr / 1fr;
        margin: 40px auto 0;
    }
    .franchise__price {
        width: 90%;
        margin: 80px auto 0;
        text-align: center;
    }
    .franchise .price-heading {
        font-size: 2rem;
    }
    .franchise__form {
        flex-direction: column;
        width: 90%;
        height: 200px;
        margin: 40px auto 0;
    }
    .franchise__form input {
        width: 250px;
        margin: 0 auto;
    }
    .franchise__btn {
        margin: 0 auto;
    }
    .franchise .warning {
        width: 90%;
        line-height: 1.5;
        margin: 20px auto 0;
        text-align: center;
        font-size: 1rem;
    }
}
/************************************************/

/********************FOOTER SECTION**************/
@media screen and (max-width: 767px) {
    .footer__container {
        flex-direction: column;
        height: 200px;
    }
}
/************************************************/